#weather
    padding: 100px 0
    color: #ffff
    .box
        background-color: #a4caff
        border: 1px solid #a4caff
        border-radius: 20px
        height: 350px
        width: 200px
        .data
            color: #ffffff
            font-size: 25px
            display: flex
            align-items: center
            flex-direction: column
            h1,h2
                margin-top: 17px
            input
                border: 1px solid #ffff
                border-radius: 20px
                width: 130px
                height: 35px
                margin: 20px 0
            #btn
                background-color: #79afff
                border-radius: 20px
                padding: 5px 15px
                font-size: 20px
                cursor: pointer

